@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Open+Sans:wght@600&display=swap');
html {
  /* background: linear-gradient(to left, #ccffff 0%, #ccccff 100%)fixed; */
  background-blend-mode: overlay;
  margin: 0 auto;
  padding: 0 auto;
  align-items: center;
}

body {
  /* background: linear-gradient(to left, #ccffff 0%, #ccccff 100%)fixed; */
  font-family: 'Lato', sans-serif;
}

input {
  width: 500px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #212121;
  height: 40px;
}

table {
  margin-top: 30px;
}



h1 {
  margin-top: 20px;
  color: blue;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.button {
  border-radius: 4px;
  background-color: blue;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  width: 100px;
  height: 40px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.container {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.30);
}